body {
  background-color: #fff;
  font-family: sans-serif;
}

.app {
  background-color: green;
  height: 50px;
  border: 1px solid blue;
}

.add-note {
	background-color: #fdfdfd;
	border: 1px solid #ccc;
}
