body {
	background-color: #fff;
	font-family: sans-serif;
}
.kanban-container {
	width: 50%;
	background-color: #f2f2f2;
}
button {
	outline: none;
}
a {
	color: #4c4c4c;
}
.active {
	color: #3390FF;
}
.notes {
	margin: 0 0 0 -40px;
	list-style: none;
	.note {
		overflow: auto;
		margin-bottom: 0.5em;
		padding: 0.5em;
		background-color: #fdfdfd;
		box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
		transition: .6s;
		&:hover {
			box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);
		}
		&:hover .delete {
			visibility: visible;
		}
		.value {
			display: inline-block;
		}
		.editable {
			float: left;
		}
		.delete {
			float: right;
			padding: 0;
			background-color: #fdfdfd;
			border: none;
			cursor: pointer;
			visibility: hidden;
		}
	}
}
.add-note {
	margin: 0 0 20px 0;
	background-color: #fdfdfd;
	border: 1px solid #ccc;
	cursor: pointer;
	transition: .6s;
	&:hover {
		box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);;
	}
}
.title {
	margin: 0 0 20px 0;
}
.kanban-wrap {
	width: 50%;
	min-height: 400px;
	padding: 20px;
	box-shadow: 0 0 0.3em 0.03em #ccc;
	background-color: #f2f2f2;
}
.nav {
	width: 100%;
	ul {
		margin: 0 0 25px 0;
		padding: 20px 0;
		list-style-type: none;
		background-color: #ccc;
		li {
			display: inline-block;
			margin: 0 0 0 20px;
		}
	}
}
form {
	margin: 0;
	input {
		margin: 0 1em .5em 0;
		padding: 0.5em;
		font-size: 16px;
		background-color: #fdfdfd;
		box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
		border: none;
		transition: .6s;
	}
	button {
		margin: 0 0 .5em 0;
		padding: 0.5em;
		font-size: 16px;
		background-color: #fdfdfd;
		box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
	}
}
img { width: 140px; height: 140px; }
.fa-sign-out { float: right; }